{% extends 'Internal_guide/general.html' %}
{% block body%}
<head>
<title>Ext org detailed view</title>
</head>
<center>
<body>
<form id="form1" name="form1" method="post" action="">
   <table class="table table-hover">
    <tr>
      <td width="95">Name</td>
      <td width="150">&nbsp;</td>
    </tr>
     <tr>
      <td>Place</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Pin</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Website</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td>&nbsp;</td>
    </tr>
     <tr>
      <td>Lattitude</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body></center>
{% endblock %}
