{% extends 'internal_guide/general.html' %}
{% block body%}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head><center>
<body>
<table class="table table-hover">
    <tr>
        <td>
            <a href="/int_guide_pro_view">View profile</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/intguide_extorg_view">External organisation view</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/intguide_view_assgnd_grp">Assigned group view</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/intguide_proj_schedule_view">Proejct schedule view</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/int_guide_extorg_grp_assign">Assign group to external organisation</a>
        </td>
    </tr>
     <tr>
        <td>
            <a href="/int_guide_attandance_view">View attandance</a>
        </td>
    </tr>
     <tr>
        <td>
            <a href="/int_guide_project_schedule_view">View project schedule</a>
        </td>
    </tr>
     <tr>
        <td>
            <a href="/int_guide_progress_view">View progress</a>
        </td>
    </tr>
     <tr>
        <td>
            <a href="/int_guide_view_file_frm_extorg">View file from external organisation</a>
        </td>
    </tr>
</table>
</body></center>
{% endblock %}