{% extends 'external_organisation/general.html' %}
{% block body%}
<head>
    <meta charset="UTF-8">
    <title>Ext org Home</title>
</head><center>
<body>
<table class="table table-hover">
    <tr>
        <td>
            <a href="/ext_org_view_profile">View profile</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/ext_org_attendance_add">Add attendance</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/ext_org_attendance_view">Attendance view</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/ext_org_grp_view">Group view</a>
        </td>
    </tr>
     <tr>
        <td>
            <a href="/ext_org_add_file">Add File</a>
        </td>
    </tr>
    <tr>
    <tr>
        <td>
            <a href="/ext_org_view_file">View File</a>
        </td>
    </tr>
        <tr>
        <td>
            <a href="/ext_org_progress_add">Progress Add</a>
        </td>
    </tr>
    <tr>
    <tr>
        <td>
            <a href="/ext_org_progress_view">Progress view</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="">view external organisation progress</a>
        </td>
    </tr>
     <tr>
        <td>
            <a href="">Internal_guide_chat</a>
        </td>
    </tr>
     <tr>
        <td>
            <a href="/ext_org_project_schedule_view">View project schedule</a>
        </td>
    </tr>

</table>
</body></center>
{% endblock %}