{% extends 'external_organisation/general.html' %}
{% block body%}
<head>
    <meta charset="UTF-8">
    <title>Ext org chat</title>
</head><center>
<body>
<form name="form1" method="post" action="">
  <table border="1" align="center">
    <tr>
      <td>External Organisations</td>
     <td><select name="select" id="select">
          </select>
        </td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" value="Start Chat"></td>
    </tr>
  </table>
</form>
</body></center>
{% endblock %}