{% extends 'admin/general.html' %}
{% block body%}
<body>
<table class="table table-hover">
  <tr>
    <td width="327"><a href="/admin_internal_guide_registration">Internal Guide Registration</a></td>
  </tr>
  <tr>
    <td><a href="/admin_internal_guide_view">Internal Guide View</a></td>
  </tr>
  <tr>
    <td><a href="/admin_internal_assign">Internal Assign</a></td>
  </tr>
  <tr>
    <td><a href="/admin_internal_assign_view">Internal Assign View</a></td>
  </tr>
  <tr>
    <td><a href="/admin_external_org_registration">External Organisation Registration</a></td>
  </tr>
  <tr>
    <td><a href="/admin_external_org_view">External Organisation View</a></td>
  </tr>
  <tr>
    <td><a href="/admin_student_registration">Student Registration</a></td>
  </tr>
  <tr>
    <td><a href="/admin_student_view">Student View</a></td>
  </tr>
  <tr>
    <td><a href="/admin_group_add">Group Add</a></td>
  </tr>
  <tr>
    <td><a href="/admin_group_view">Group View</a></td>
  </tr>
  <tr>
    <td><a href="/admin_project_schedule_management">Project Schedule Management</a></td>
  </tr>
  <tr>
    <td><a href="/admin_project_schedule_view">Project Schedule View</a></td>
  </tr>
  <tr>
    <td><a href="/admin_attandance_view">Attendance view</a></td>
  </tr>
  <tr>
    <td><a href="/admin_view_progress">View Progress</a></td>
  </tr>

</table>
</body>
{% endblock %}