{% extends 'admin/general.html' %}
{% block body%}
<body><center>
<form name="form1" method="post" action="">
   <table class="table table-bordered">
    <tr>
      <th>SL NO</th>
      <th>Batch</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
      {% for i in d %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i[2] }}</td>
      <td><a href="{{ i[1] }}" download class="btn btn-primary">Download</a></td>
      <td><a href="/admin_project_schedule_delete/{{ i[0] }}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form></center>
</body>
{% endblock %}