{% extends 'admin/general.html' %}
{% block body%}
<body><center>
<form action="/admin_project_schedule_management_post" method="post" enctype="multipart/form-data" name="form1">
  <table class="table table-bordered" style="width: 400px;" align="center">
    <tr>
      <td>File</td>
      <td>
      <input type="file" name="fileField" id="fileField" class="form-control" required></td>
    </tr>
    <tr>
      <td>Batch</td>
      <td>
      <select name="select" id="select" class="form-control">
          {% for i in d %}<option value="{{ i[0] }}">{{ i[0] }}</option>{% endfor %}
      </select></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input class="btn btn-success" type="submit" name="button" id="button" value="ADD"></td>
    </tr>
  </table>
</form></center>
</body>
{% endblock %}